name: CI
on:
  push:
  pull_request:
permissions:
  contents: read
jobs:
  test:
    name: go test / ${{ matrix.runner }}
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - runner: ubuntu-latest
          - runner: ubuntu-24.04-arm
          - runner: macos-latest
            # - runner: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 'stable'
      - name: Run tests
        run: go test -v ./...
  coverage:
    name: codecov / ${{ matrix.runner }}
    runs-on: ${{ matrix.runner }}
    needs: test
    strategy:
      fail-fast: false
      matrix:
        include:
          - runner: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 'stable'
      - name: Run tests
        run: go test -v -coverprofile=coverage.out ./...
      - name: Coveralls
        uses: coverallsapp/github-action@v2
        with:
          file: ./coverage.out
